<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recyclerview">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecyclerView"
        android:name=".App">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".MainActivity"
            android:label="">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Splash_Screen2">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CreateNewAccount"
            android:label="Create account">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Splash_Screen2" />
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login"
            android:label="Log in">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Splash_Screen2" />
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ChooseCity"
            android:label="Choose city for map" >
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapsActivityParis"
            android:parentActivityName=".ChooseCity"
            android:label="Paris Map"/>
        <activity
            android:name=".MapsActivityDublin"
            android:parentActivityName=".ChooseCity"
            android:label="Dublin Map"/>

        <activity
            android:name=".StationList"
            android:launchMode="singleTop"
            android:label="Bike station list">
            <intent-filter>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StationDetail"
            android:label="Bike station details"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StationList" />
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FavoriteStation"
            android:launchMode="singleTop"
            android:label="Favorite bike station list">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FavoriteStationDetail"
            android:label="Favorite bike station detail" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FavoriteStation" />
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ParisWeather"
            android:parentActivityName=".ChooseCityWeather"
            android:label="Paris weather">
        </activity>
        <activity
            android:name=".DublinWeather"
            android:parentActivityName=".ChooseCityWeather"
            android:label="Dublin weather">

        </activity>
        <activity android:name=".ChooseCityWeather"
            android:label="Choose city for weather">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ManageAccount"
            android:label="Manage account">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



    </application>




</manifest>